@page
@model ERP_APP.Pages.AccDetailsModel

@{
    ViewData["Title"] = "AccDetails";
    Layout = "~/Pages/Shared/_LayoutWelcome.cshtml";
}
@if (@Model.UserRole == "Admin")
{

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Detaylar</h6>
        </div>
        <div class="card-body">
            <div>
    
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        <h7> Ad Soyad </h7>
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblAcc.UserName)
                    </dd>
                    <dt class="col-sm-2">
                        <h7> Kullanıcı Adı </h7>
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblAcc.AccName)
                    </dd>
                    <dt class="col-sm-2">
                        <h7> Şifre </h7>
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblAcc.UserPass)
                    </dd>
                    <dt class="col-sm-2">
                        <h7> Görev </h7>
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TblAcc.UserRole)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-page="./AccEdit" asp-route-id="@Model.TblAcc.UserId">Düzenle</a> |
                <a asp-page="./AccDisplay">Listeye Dön</a>
            </div>
        </div>
    </div>

    
}