@page
@model ERP_APP.Pages.ADeleteModel

@{
    ViewData["Title"] = "ADelete";
    Layout = "~/Pages/Shared/_LayoutWelcome.cshtml";
}


<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    
    <hr />
  
    <dl class="row">
        <dt class="col-sm-2">
            <h7> Dönem </h7>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblAccounting.aylar)
        </dd>
        <dt class="col-sm-2">
            <h7> Maaş </h7>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblAccounting.Salary)
        </dd>
        <dt class="col-sm-2">
            <h7> Sigorta Gideri </h7>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblAccounting.sigortalar)
        </dd>
        <dt class="col-sm-2">
            <h7> Diğer Giderler </h7>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblAccounting.digergider)
        </dd>
        <dt class="col-sm-2">
            <h7> Vergi </h7>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblAccounting.vergidurumu)
        </dd>
        <dt class="col-sm-2">
            <h7> Toplam Fatura (Gelir) </h7>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblAccounting.gelir)
        </dd>

        <dt class="col-sm-2">
            <h7> Açıklama </h7>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblAccounting.Remarks)
        </dd>
    </dl>
   
    <form method="post">
        <a asp-page="ADisplay" class="btn btn-secondary btn-icon-split">

            <span class="text">Listeye Dön</span>

        </a>
        <input type="hidden" asp-for="TblAccounting.AccId" />
        <input type="submit" value="Sil" class="btn btn-danger" />

    </form>
    </div>
