@page
@model ERP_APP.Pages.WDisplayModel

@{
    ViewData["Title"] = "WDisplay";
    Layout = "~/Pages/Shared/_LayoutWelcome.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Depo</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>
                            <h9> Ürün ID </h9>
                        </th>
                       

                        <th>
                            <h9> Stok Numarası </h9>
                        </th>
                        <th>
                            <h9> Sipariş Numarası </h9>
                        </th>
                        <th>
                            <h9> İş Emri Numarası </h9>
                        </th>
                        <th>
                            <h9> Ürün Adeti </h9>
                        </th>
                        <th>
                            <h9> Tarih </h9>
                        </th>
                        <th>
                            <h9> Çıkış Tarihi </h9>
                        </th>
                        <th>
                            <h9> Verilen Adı </h9>
                        </th>
                        <th>
                            <h9> Depo Yeri </h9>
                        </th>
                        <th>
                            <h9> Not </h9>
                        </th>

                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TblWarehouse)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductId)
                        </td>



                        <td>
                            @Html.DisplayFor(modelItem => item.Product.StokNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.OrderNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.WorkOrderNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Piece)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GivenDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiverName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Place)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>




                        @if (@Model.UserRole == "Admin" || @Model.UserRole == "Depo")
                        {

                            <td>
                                <a asp-page="./WEdit" asp-route-id="@item.WarehouseId" class="btn btn-warning btn-icon-split">

                                    <span class="text">Düzenle</span>
                                </a>
                            </td>


                        }
                        <td>
                            <a asp-page="./WDetails" asp-route-id="@item.WarehouseId" class="btn btn-info btn-icon-split">

                                <span class="text">Detaylar</span>
                            </a>
                        </td>
                        @if (@Model.UserRole == "Admin" || @Model.UserRole == "Depo")
                        {


                            <td>
                                <a asp-page="./WDelete" asp-route-id="@item.WarehouseId" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Sil</span>
                                </a>
                            </td>
                        }
                        @if (@Model.UserRole == "Admin" || @Model.UserRole == "Üretim")
                        {
                    <td>
                        <a asp-page="./PCreate" asp-route-id="@item.Product.ProductId" class="btn btn-secondary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="text">Üretime Gönder</span>

                        </a>

                        

                    </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>